.date {
  color: gray;
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}
.forecast {
  max-width: 500px;
}

.box {
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.imgBox {
  display: flex;
  align-items: center;
}

.img {
}

.temperature {
  padding-left: 10px;
  font-size: 40px;
  position: relative;
}

.unit {
  position: absolute;
  font-size: 16px;
  color: gray;
  top: 10px;
}

.value {
  color: rgb(63, 63, 63);
}
.details {
  padding-left: 20px;
  padding-right: 20px;
}

.rough {
}
